body {
	background-color: #2196F3;
	transition: all 1s;
}

.button {
	position: relative;
	top: 250px;

	padding: 2%;
	margin: auto;
	width: 300px;


	display: block;
	background-color: #039BE5;
	color: black;
	font-size: 50px;

	transition: all .3s;

	border-color: black;
	border-radius: 25px;
	border-width: 10px;
	box-shadow: 0px 20px 10px #373535;
}

.button:active {
	top: 255px;
	box-shadow: 0px 10px 10px #373535;
}